body{
    padding:0;
    margin:0;
    font: 12px "ו", Arial, Helvetica, sans-serif;
}
p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}
.clear{
    clear:both;
}
a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    text-decoration:none;
    color:#e15782;
}
.active{
    color:red;
}
a:focus{
    text-decoration: none;
}
